[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
python-ldap = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
collection-install = "env ANSIBLE_CONFIG=./ansible.cfg ansible-galaxy collection install -r requirements.yml -p ./collections "
ansible-playbook = "env ANSIBLE_CONFIG=./ansible.cfg ansible-playbook playbook.yml"
